body{
    background-color:#BFD4DB;
    margin: 20%;
    font-family: monospace, 'Times New Roman', Times, serif;
}
#title{
    text-align: center;
    text-shadow: 5px 5px 15px black;
    font-size: 3em;
}
h2{
    text-align: center;
    font-size: 2em;
    text-shadow: 4px 4px 20px black;
}
img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img-caption{
    text-align: center;
    font-size: 15px;
    font-style: oblique;
}
#tribute-info{
    background-color: #A4C3D2;
    box-shadow: 20px 20px 15px grey;
    padding: 5px 10px;
    margin-top: 20px;
}
#tribute-link{
    text-align: center;
    padding: 30px;
}
